<footer class="site-footer">
  <div class="container footer-grid">
    <div class="footer-col footer-text">
      <div><b>Research Group on Arboviral Diseases</b></div>
      <div>Departament of Morphology · ICB · UFMG</div>
      <div>Center for Drug Research and Development</div>
      <div>Avenida Antonio Carlos, 6627 - Section G3</div>
      <div>Zip Code: 31270-901 · Belo Horizonte, MG  · Brazil</div>
    </div>

    <div class="footer-col footer-logo">
      <a href="https://www.icb.ufmg.br/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Institute of Biological Sciences – UFMG">
        <img src="{{ site.baseurl }}/assets/images/logo_icb.png"
            alt="Institute of Biological Sciences (ICB) – UFMG"
            class="footer-img">
      </a>
    </div>

    <div class="footer-col footer-logo">
      <a href="https://ufmg.br/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Federal University of Minas Gerais">
        <img src="{{ site.baseurl }}/assets/images/logo_ufmg.png"
            alt="Federal University of Minas Gerais (UFMG)"
            class="footer-img">
      </a>
    </div>
    <div class="footer-privacy">
      © 2026 GPAV. All rights reserved. 
      <a href="{{ site.baseurl }}/en/privacy/">Privacy Policy</a>
    </div>
  </div>
</footer>
