
<footer class="site-footer">
  <div class="container footer-grid">
    <div class="footer-col footer-text">
      <div><b>Grupo de Pesquisa em Arboviroses</b></div>
      <div>Departamento de Morfologia · ICB · UFMG</div>
      <div>Centro de Pesquisa e Desenvolvimento de Fármacos (CPDF)</div>
      <div>Avenida Antônio Carlos, 6627 - Bloco G3</div>
      <div>CEP: 31270-901 · Belo Horizonte, MG  · Brasil</div>
    </div>

    <div class="footer-col footer-logo">
      <a href="https://www.icb.ufmg.br/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Institute of Biological Sciences – UFMG">
        <img src="{{ site.baseurl }}/assets/images/logo_icb.png"
            alt="Institute of Biological Sciences (ICB) – UFMG"
            class="footer-img">
      </a>
    </div>

    <div class="footer-col footer-logo">
      <a href="https://ufmg.br/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Federal University of Minas Gerais">
        <img src="{{ site.baseurl }}/assets/images/logo_ufmg.png"
            alt="Federal University of Minas Gerais (UFMG)"
            class="footer-img">
      </a>
    </div>

    <div class="footer-privacy">
      © 2026 GPAV. Todos os direitos reservados. 
      <a href="{{ site.baseurl }}/pt/privacy/">Política de Privacidade</a>
    </div>
  </div>
</footer>
