<nav class="site-nav" aria-label="Primary navigation">
  <div class="container">
    <ul class="nav">
      <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/">Home</a></li>
      <li class="has-dropdown">
        <a href="{{ site.baseurl }}/{{ page.lang_root }}/about/">About us</a>
        <ul class="dropdown">
          <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/team/">Team</a></li>
          <li><a href="{{ site.baseurl }}/en/collaborators/">Collaborators</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="{{ site.baseurl }}/en/news/" aria-haspopup="true" aria-expanded="false">News</a>
        <ul class="submenu">
          <li><a href="{{ site.baseurl }}/en/news/">All news</a></li>
          <li><a href="{{ site.baseurl }}/en/instagram/">Instagram</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/publications/">Publications</a></li>
      <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/contact/">Contact</a></li>
    </ul>
  </div>
</nav>
