<nav class="site-nav" aria-label="Primary navigation">
  <ul class="nav">
    <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/">Home</a></li>
    <li class="has-dropdown">
      <a href="{{ site.baseurl }}/{{ page.lang_root }}/about/">About us</a>
      <ul class="dropdown">
        <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/team/">Team</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/news/">News</a></li>
    <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/publications/">Publications</a></li>
    <li><a href="{{ site.baseurl }}/{{ page.lang_root }}/contact/">Contact</a></li>
  </ul>
</nav>
