<!doctype html>
<html lang="{{ page.lang_tag | default: 'pt-BR' }}">
    {% if page.lang_root == "pt" %}
      {% include header-pt.html %}
      {% include nav-pt.html %}
    {% else %}
      {% include header-en.html %}
      {% include nav-en.html %}
    {% endif %}

    <div class="container">
      <main id="main">
        {{ content }}
      </main>
    </div>

    {% if page.lang_root == "pt" %}
      {% include footer-pt.html %}
    {% else %}
      {% include footer-en.html %}
    {% endif %}
    <script src="{{ site.baseurl }}/assets/js/site.js"></script>
  </body>
</html>
